*{
    padding: 0;
    margin: 0;
}
html{
    background-color: rgb(245, 245, 245);
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: rgb(168, 167, 167);
}

.header{    /*头部搜索框+2图标*/
    height: 70px;
    background-color: #fff;
}
.searchbox{    /*搜索框*/
    height: 28px;
    margin: 27px 10px 10px;
    padding-left: 38px;
    width: 63%;
    color: rgb(148, 144, 144);
    background: url("images/search.png") no-repeat 15px 5px;
    background-size: 20px;
    background-color: rgb(240, 240, 245);
    border-radius: 25px;
    border: none;
}
/* 右上角两个图标 */
.message_icon{    
    position: absolute;
    top: 24px;
    right: 12%;
}
.scan_icon{ 
    position: absolute;
    top: 29px;
    right: 4%;
}
/* 内容模块 */
/* 轮播图 */
.imgBox{
    width: 100%;
    height: 200px;
}

.imgBox img{
    width: 100%;
}

.img1{
    display: block;
}

.img2{
    display: none;
}

.img3{
    display: none;
}

/* 找。。模块 */
.finder{
    background-color: #fff;
    height: 100px;
    margin-top: 5px;
}

.finder a{
    color: rgb(137, 137, 141);
}

.find_docter{
    width: 60px;
    margin-top: 10px;
    position: absolute;
    left: 7%;

}
.find_medical{
    width: 60px;
    margin-top: 10px;
    position: absolute;
    left: 42%;
}
.find_hospital{
    width: 60px;
    margin-top: 10px;
    position: absolute;
    right: 7%;
}

/* 紧急呼救+智能助手 */

.AIfunction{
    position: relative;
    margin: 10px 0;
}
.urgent_help{
    position: absolute;
    left: 0;
    height: 55px;
    background-color: #fff;
    width: 50%;
    padding: 15px 0;
    border: 1px solid rgb(228, 227, 227);
    border-radius: 5px;

}
.intelligence_helper{
    width: 50%;
    position: absolute;
    height: 55px;
    padding: 15px 0;
    background-color: #fff;
    right: 0;
    border: 1px solid rgb(228, 227, 227);
    border-radius: 5px;
}
/* 紧急呼救+智能助手，文字 */
.urgent{
    color: rgb(223, 66, 39);
    position: absolute;
    top: 32px;
}
.helper{
    color: #28B8A1;
    position: absolute;
    top: 32px;
}

/* 健康数据 */

.health{      /*健康数据 加粗的字位置*/ 
    margin: 110px 10px 10px;
}

h4{
    font-weight: 400;
}

/* 健康史+病例分析 */
.health_box1 {
    position: relative;
    height: 50px;
    background-color: #fff;
    padding: 15px 0;
    border: 1px solid rgb(240, 238, 238);
    border-radius: 5px;
    box-shadow: 0 1px 5px 1px rgb(212, 211, 211);
}
.health_history{
    position: absolute;
    left: 5%;
    color: black;
}
.health_analyse{
    position: absolute;
    right: 23%;
    top: 15px;
    color: black;
}

/* 用药清单+诊断结果 */
.health_box2 {
    position: relative;
    height: 50px;
    background-color: #fff;
    padding: 15px 0;
    border-radius: 5px;
    box-shadow: 0 1px 5px 1px rgb(212, 211, 211);
}
.medical_list{
    position: absolute;
    left: 5%;
    color: black;

}
.health_result{
    position: absolute;
    right: 23%;
    top: 15px;
    color: black;

}
/* 健康数据里的 四个图标 位置 */
.health_icon1,.health_icon3{
    position: absolute;
    left: 33%;
}
.health_icon2,.health_icon4{
    position: absolute;
    right: 5%;
}
 p{
    color: rgb(179, 174, 174);
    margin-top: 10px;
    font-size: 13px;
}
/* 健康知识 */
.knowledge{
    margin: 14px 10px;
}
.health_study{
    height: 450px;
    background-color: #fff;
    box-shadow: 0 1px 5px 1px rgb(212, 211, 211);
    padding-top: 15px;
}
.health_study h5{
    position: absolute;
    left: 5%;
    font-weight: 400;
    color: black;
}
.study1,.study2,.study3{
    position: relative;
    height: 120px;

}

.health_study p{
    position: absolute;
    left: 5%;
    padding-top: 20px;
    width: 63%;

}
.health_study img{
    position: absolute;
    right: 4%;
    margin-top: 28px;
}



/*底部导航栏*/

.footer{         
    width: 100%;
    height: 60px;
    background-color: #fff;
    z-index: 100;
    position: fixed;        /*固定底部导航栏*/
    bottom: 0px;
    font-size: 13px;
    box-shadow: 0 -1px 5px 1px rgb(224, 222, 222);
    padding-top: 10px;
}
.tb1,.tb2,.tb3,.tb4,.text1,.text2,.text3,.text4{
    position: absolute;

}
/* 导航图标 位置 */
.tb1{
    left: 6%;
}
.tb2{
    left: 32%;
}
.tb3{
    right: 31%;
}
.tb4{
    right: 6%;
}
/* 导航里的文字 位置 */

.text1,.text2,.text3,.text4{
    bottom: 10px;
    color: rgb(168, 167, 167);
    
}
.text1{
    left: 7%;
}
.text2{
    left: 30%;
}
.text3{
    right: 31%;
}
.text4{
    right: 7%;
}
